/* ==========================================================
   SUISSE INTL FONT
========================================================== */


@font-face {

    font-family: "Suisse Intl";

    src: url("Fonts/SuisseIntl-Light.otf") format("opentype");

    font-weight:300;

    font-style:normal;

    font-display:swap;

}



@font-face {

    font-family: "Suisse Intl";

    src: url("Fonts/SuisseIntl-Regular.otf") format("opentype");

    font-weight:400;

    font-style:normal;

    font-display:swap;

}



@font-face {

    font-family: "Suisse Intl";

    src: url("Fonts/SuisseIntl-Medium.otf") format("opentype");

    font-weight:500;

    font-style:normal;

    font-display:swap;

}



@font-face {

    font-family: "Suisse Intl";

    src: url("Fonts/SuisseIntl-SemiBold.otf") format("opentype");

    font-weight:600;

    font-style:normal;

    font-display:swap;

}



@font-face {

    font-family: "Suisse Intl";

    src: url("Fonts/SuisseIntl-Bold.otf") format("opentype");

    font-weight:700;

    font-style:normal;

    font-display:swap;

}


@font-face {

    font-family: "Onest";

    src: url("Fonts/Onest-300.ttf") format("truetype");

    font-weight:300;

    font-style:normal;

    font-display:swap;

}


@font-face {

    font-family: "Onest";

    src: url("Fonts/Onest-400.ttf") format("truetype");

    font-weight:400;

    font-style:normal;

    font-display:swap;

}


@font-face {

    font-family: "Onest";

    src: url("Fonts/Onest-500.ttf") format("truetype");

    font-weight:500;

    font-style:normal;

    font-display:swap;

}


@font-face {

    font-family: "Onest";

    src: url("Fonts/Onest-600.ttf") format("truetype");

    font-weight:600;

    font-style:normal;

    font-display:swap;

}


@font-face {

    font-family: "Onest";

    src: url("Fonts/Onest-700.ttf") format("truetype");

    font-weight:700;

    font-style:normal;

    font-display:swap;

}


@font-face {

    font-family: "Actay Wide";

    src: url("Fonts/ActayWide-Bold.otf") format("opentype");

    font-weight: 700;

    font-style: normal;

    font-display: swap;

}


:root {

    --main-font:
        "Onest",
        "Suisse Intl",
        "Inter",
        Arial,
        sans-serif;


    --title-font:
        "Onest",
        "Suisse Intl",
        "Inter",
        Arial,
        sans-serif;

    --name-font:
        "Actay Wide",
        "Onest",
        "Suisse Intl",
        Arial,
        sans-serif;

}